# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=pos_user
DB_PASSWORD=pos_password
DB_NAME=pos_database
DATABASE_URL=postgresql://pos_user:pos_password@localhost:5435/pos_database

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRATION=24h

# API
API_PORT=3000
API_PREFIX=/api

# BETTER AUTH
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000
