# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=pos_user
DB_PASSWORD=pos_password
DB_NAME=pos_database
DATABASE_URL=postgresql://pos_user:pos_password@localhost:5435/pos_database

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRATION=24h

# API
API_PORT=3000
API_PREFIX=/api

# BETTER AUTH
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000

# Admin Credentials
ADMIN_EMAIL=superadmin@mitbiz.com
ADMIN_PASSWORD=12345678

#Allowed Origin
ALLOWED_ORIGINS=http://localhost:3000

# Email / SMTP
# Development (MailHog):
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@mitbiz.com

# Production (Gmail):
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=your-email@gmail.com
# SMTP_PASS=your-app-password
# SMTP_FROM=noreply@mitbiz.com